{{!< layout01}}
{{#if refresh}}
    <meta http-equiv="refresh" content="10"/>
{{else}}
      <meta http-equiv="refresh" content="600"/>
{{/if}}
<script>


  function myBID(x,i) {
        rows = document.getElementById('tableData').getElementsByTagName('TR');
        col = rows[x.rowIndex].getElementsByTagName('TD');
        if ($('#mode_s').val()=='c') self.location.href='/transaction/create?BID='+col[i].innerHTML
        else {
          $('#mode_s').val('c');
          self.location.href='/library';
        }
      }

    function deleteClass(_id, ID,name,SID,cc,v1,v2,v3){
        $('#md_mode').text("Daten Löschen");
        $('#md_style').attr('style','background-color:red');
        $('#action').val('d');
        updateClass(_id, ID,name,SID,cc,v1,v2,v3);
      };

  function editClass(_id, ID,name,SID,cc,v1,v2,v3) {
              $('#md_mode').text("Daten ändern");
              $('#md_style').attr('style','background-color:grey');
              $('#action').val("u");
              updateClass(_id, ID,name,SID,cc,v1,v2,v3);
    };


  function updateClass(_id, ID,name,SID,cc,v1,v2,v3) {
              var modal = document.getElementById('myModal');
              var span = document.getElementsByClassName("close")[0];
              $('#md_id').val(_id);
              $('#md_ID').val(ID);
              $('#md_name').val(name);
              $('#md_SID').val(SID);
              $('#md_class').val(cc);
              $('#md_v1').val(v1);
              $('#md_v2').val(v2);
              $('#md_v3').val(v3);
              modal.style.display = "block";
              span.onclick = function() {modal.style.display = "none";}
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none"; }
              }
      };


</script>

<style>

</style>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3>{{form.title}}</h3>
      <div id=md_style style="background-color:grey" >
      <h3 id="md_mode" ></h2>
      </div>
    </div>
    <div class="modal-body" >

    <form id="ItemEditForm" name="ItemEditForm" class="form-horizontal" action={{form.link}} method="post" >
      <input  type="hidden"  name="action" id="action" value='u'>
      <input  type="hidden"  name="md_id" id="md_id">
       {{#each form.fields}}
        <div class="form-group">
            <label class="control-label col-sm-2" for="class">{{this.lable}}</label>
            <div class="col-sm-2">
              <input  autofocus type="text"  class="form-control" name="md_{{this.field}}" id="md_{{this.field}}" autocomplete="off" value='' placeholder="{{this.field}}" required>
            </div>
          </div>
       {{/each}}

        <div id="divTime" class="form-group" style="display: none;" >
          <div class="col-sm-2">
            <input id="time" type="time" class="form-control"  >
            <script>
                document.getElementById("time").value = Date();
            </script>
          </div>
        </div>

      <div class="form-group">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" >OK</button>
            <a href="{{cancel}}" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
        </div>
      </div>

    </form>
    </div>
    <div class="modal-footer">
      <h3>...</h3>
    </div>
  </div>

</div>

<div style="border-radius: 10px; background-color:grey; padding-left:10px; padding-top:5px; padding-bottom: 5px" class="container">
     <button onclick="window.location.href='{{form.link}}?SID=A'" type="button" class="btn btn-success">alle</button>
     {{#each subject}}
        <button onclick="window.location.href='{{form.link}}?SID={{this.ID}}'" type="button" class="btn btn-info">{{this.ID}}</button>
     {{/each}}
</div>

<div style="border-radius: 10px; background-color:{{form.bg}}; padding-left:10px; padding-top:5px; padding-bottom: 5px" class="container">
  <h3>{{form.title}} ({{form.query}})</h3>
  <div class="entry">
    <input  type=hidden value="c"   name="mode_s" id="mode_s">
    <table id="tableData" name="tableData" class="table table-bordered table-hover table-condensed " >
      <tr>
       {{#each form.fields}} <th>{{this.lable}}</th> {{/each}}
      </tr>
     {{#each obj}}
      <tr bgcolor="{{this.bg}}" id="myTabler" name="myTabler"  >
        <input  type=hidden name="_id" id="_id value={{this._id}}">
        <td id="ID">{{this.ID}}<input type="hidden" id="_id" name="_id" value="{{this._id}}" /></td>
        <td id="name" name="name">{{this.name}}</td>
        <td id="SID" name="SID">{{this.SID}}</td>
        <td id="class" name="class">{{this.class}}</td>
        <td id="v1" name="v1">{{this.v1}}</td>
        <td id="v2" name="v2">{{this.v2}}</td>
        <td id="v3" name="v3">{{this.v3}}</td>
        <td width=10%>
            <button id="btn3" class="glyphicon glyphicon-trash" onclick='deleteClass("{{this._id}}","{{this.ID}}","{{this.name}}","{{this.SID}}","{{this.class}}","{{this.v1}}","{{this.v3}}","{{this.v3}}")'></button>
            <button id="btn1" class="glyphicon glyphicon-pencil" onclick="window.location.href='/transaction/create?BID={{this.ID}}'" type="button" </button>
        </td>
      </tr>
     {{/each}}
    </table>

  </div>
</div>
