{{!< layout01}}
{{#if refresh}}
    <meta http-equiv="refresh" content="10"/>
{{else}}
      <meta http-equiv="refresh" content="600"/>
{{/if}}
<script>

  function myBID(x,i) {
        rows = document.getElementById('tableData').getElementsByTagName('TR');
        col = rows[x.rowIndex].getElementsByTagName('TD');
        if ($('#mode_s').val()=='c') self.location.href='/transaction/create?BID='+col[i].innerHTML
        else {
          $('#mode_s').val('c');
          self.location.href='/library';
        }
      }

      function onSwitch(mode,nr,_id) {
         cbName = "SwitchOptionSuccess"+nr;
         if (mode=="g") cbName=cbName+"G";
         var checkBox = document.getElementById(cbName,_id);
         $.post("{{form.entity}}",{ action:mode, _id: _id, enabled: checkBox.checked } , function( data ) {
           $( ".result" ).html( data );
         });
       };
       function avatar(ID) {
           var url="/validate?eID="+8+"&ID="+ID;
           var ret;
         $.ajax({ url: url,
                  async: false,
                  dataType: 'json',
                  success: function(data) {
                       ret = data.value;
                     }
                 });
         return ret;
         }

    function deleteClass(_id, ID,name,surname,avt) {
        $('#md_mode').text("Daten Löschen");
        $('#md_style').attr('style','background-color:red');
        $('#action').val('d');
        updateClass(_id, ID,name,surname,avt);
      };
    function duplicateClass(_id, ID,name,surname,avt) {
          $('#md_mode').text("Daten koppieren");
          $('#md_style').attr('style','background-color:blue');
          $('#action').val("x");
          updateClass(_id, ID,name,surname,avt);
        };

  function editClass(_id, ID,name,surname,avt) {
              $('#md_mode').text("Daten ändern");
              $('#md_style').attr('style','background-color:grey');
              $('#action').val("u");
              updateClass(_id, ID,name,surname,avt);
    };

    function createClass() {
                $('#md_mode').text("Daten einfügen");
                $('#md_style').attr('style','background-color:grey');
                $('#action').val("x");
                updateClass('', '','','','');
      };

  function updateClass(_id, ID,name,surname,avt) {
              var modal = document.getElementById('myModal');
              var span = document.getElementsByClassName("close")[0];
              $('#md_id').val(_id);
              $('#md_ID').val(ID);
              $('#md_name').val(name);
              $('#md_surname').val(surname);
              $('#md_avatar').val(avt);
              $('#avatar').attr('src',avatar(avt));
              modal.style.display = "block";
              span.onclick = function() {modal.style.display = "none";}
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none"; }
              }
      };

      function togle_avt(_id,ID,nr) {
        var i=1;
        var md_id=_id;
        if (!ID) {
          i = $('#md_avatar').val();
          md_id = $('#md_id').val();
        } else i=parseInt(nr,10);
        if (i==1) i=2; else i=1;
        $('#md_avatar').val(i);
        $('#avatar'+ID).attr('src',avatar(i));
        $.post("{{form.entity}}",{ action:'g', _id: md_id, value:i} , function( data ) {
          $( ".result" ).html( data );
        });

        };

</script>

<style>
.avatar {
  width: 25px;
  height: 25px;
}

.avatar_large {
  width: 130px;
  height: 130px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  position: relativ;
  margin-top :2em;
  margin-left :auto;
}
</style>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>{{form.title}}</h2>
      <div id=md_style style="background-color:grey" >
      <h3 id="md_mode" ></h2>
      </div>
    </div>
    <div class="modal-body" >

    <form id="ItemEditForm" name="ItemEditForm" class="form-horizontal" action={{form.link}} method="post" >
      <input  type="hidden"  name="md_avatar" id="md_avatar">
      <input  type="hidden"  name="action" id="action" value='u'>
      <input  type="hidden"  name="md_id" id="md_id">
      <input  type="hidden"  name="md_qsid" id="md_qsid">
      <input  type="hidden"  name="md_enabled" id="md_enabled">
      <img id=avatar name="avatar" onclick='togle_avt("", "","")' src="/img?id=1" alt="Avatar" class="avatar_large">
       {{#each form.fields}}
        <div class="form-group">
            <label class="control-label col-sm-2" for="class">{{this.lable}}</label>
            <div class="col-sm-2">
              <input  autofocus type="text"  class="form-control" name="md_{{this.field}}" id="md_{{this.field}}" autocomplete="off" placeholder="{{this.field}}" required>
            </div>
          </div>
       {{/each}}

        <div id="divTime" class="form-group" style="display: none;" >
          <div class="col-sm-2">
            <input id="time" type="time" class="form-control"  >
            <script>
                document.getElementById("time").value = Date();
            </script>
          </div>
        </div>

      <div class="form-group">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" >OK</button>
            <a href="{{cancel}}" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
        </div>
      </div>

    </form>
    </div>
    <div class="modal-footer">
      <h3>...</h3>
    </div>
  </div>

</div>



<div style="border-radius: 10px; background-color:{{form.bg}}; padding-left:10px; padding-top:5px; padding-bottom: 5px" class="container">
  <h1>{{form.title}}</h1>
  <div class="entry">
    <input  type=hidden value="c"   name="mode_s" id="mode_s">
    <table id="tableData" name="tableData" class="table table-bordered table-hover table-condensed " >
      <tr>
       {{#each form.fields}} <th width={{this.width}}>{{this.lable}}</th> {{/each}}
       <th width=3%></th>
       <th width=10%>upd</th>
       <th width=5%><span class="glyphicon glyphicon-ok"></th>
        <th width=15%>
          <button class="glyphicon glyphicon-plus" onclick='createClass()'></button>
        </th>
      </tr>
     {{#each obj}}
      <tr bgcolor="{{this.bg}}" id="myTabler" name="myTabler"  >
        <input  type=hidden name="_id" id="_id value={{this._id}}">
        <td id="ID">{{this.ID}}<input type="hidden" id="_id" name="_id" value="{{this._id}}" /></td>
        <td id="name" name="name">{{this.name}}</td>
        <td id="surname" name="surname">{{this.surname}}</td>
        <td style = "display:none" id="avatarNR" name="avatarNR">{{this.avatar}}</td>
        <td><img id=avatar{{this.ID}} name="avatar" onclick='togle_avt("{{this._id}}", "{{this.ID}}","{{this.avatar}}")' src="/img?id={{this.avatar}}" alt="Avatar" class="avatar"></td>
        <td width=5% id="ti" name="ti">{{this.ti}}</td>
        <td>
        <div class="material-switch pull-right">
            <input id="SwitchOptionSuccess{{this.ID}}" onchange='onSwitch("e","{{this.ID}}","{{this._id}}")'  name="SwitchOption{{this.ID}}" type="checkbox" {{this.checked}} data-toggle="toggle" />
            <label for="SwitchOptionSuccess{{this.ID}}" class="label-success"></label>
        </div>
        </td>
        <td width=10%>

        <button id="btn1" class="glyphicon glyphicon-pencil" onclick='editClass("{{this._id}}","{{this.ID}}","{{this.name}}","{{this.surname}}","{{this.avatar}}")'></button>
        <button id="btn2" class="glyphicon glyphicon-duplicate" onclick='duplicateClass("{{this._id}}","{{this.ID}}","{{this.name}}","{{this.surname}}","{{this.avatar}}")'></button>
        <button id="btn3" class="glyphicon glyphicon-trash" onclick='deleteClass("{{this._id}}","{{this.ID}}","{{this.name}}","{{this.surname}}","{{this.avatar}}")'></button>
        </td>
      </tr>
     {{/each}}
    </table>

  </div>
</div>
