{{!< layout01}}
{{#if refresh}}
    <meta http-equiv="refresh" content="10"/>
{{else}}
      <meta http-equiv="refresh" content="600"/>
{{/if}}
<script>

function myBID(x,i) {
        self.location.href="{{link}}";
    }

function exportClass(name,action) {
     $.post("{{link}}", {"name" : name, "action": action }, function(result){
    });
  };


</script>

<style>
    th { background-color: #aaaaaa }
}


</style>

<div style="border-radius: 10px; background-color:BurlyWood; padding-left:10px; padding-top:5px; padding-bottom: 5px" class="container">
  <h1>{{form.title}}</h1>
  <div class="entry">
    <table id="tableData" name="tableData" class="table table-bordered table-hover table-condensed " >
     <tr>
      {{#each fields}} <th>{{this.lable}}</th> {{/each}}
     </tr>
     {{#each obj}}
      <tr bgcolor="{{this.bg}}" id="myTabler" name="myTabler"  onclick="myBID(this,1)" >
        <td id="id">{{this.ID}}</td>
        <td>{{this.name}}</td>
        <td width=10%>
          <button class="glyphicon glyphicon-export" onclick='exportClass("{{this.name}}","E")'></button>
          <button class="glyphicon glyphicon-import" onclick='exportClass("{{this.name}}","I")'></button>
        </td>
      </tr>
     {{/each}}
    </table>
  </div>
</div>
