{{!< layout01}}

<style>

.avatar {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.flip-txt {
  text-align:left;
  margin-left:2em
}

.flip-info {
  background-color:white;
  position: relativ;
  border-radius: 10px;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
  align="left";
}

.flip-card {
  background-color: transparent;
  position: absolute;
  margin-left :40%;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #2980b9;
  color: black;
  transform: rotateY(180deg);
  z-index: 1;
  }


table{
    width: 70%;
}

th, td {
    padding-right: 10px;
    padding-left: 10px;
}

</style>



<script>

function onSwitch(nr,_id) {
   cbName = "SwitchOptionSuccess"+nr;
   var checkBox = document.getElementById(cbName,_id);
   $.post("transaction",{ action:'e', _id: _id, enabled: checkBox.checke } , function( data ) {
     $( ".result" ).html( data );
   });
 };

function createClass() {
    updateClass();
  };

  function myFunction() {
    alert("Hallo");
  }

function addevent() {
              var table = document.getElementById('MyTable');
              var modal = document.getElementById('myModal');
              for(var i = 1; i < table.rows.length; i++)
              {
                  table.rows[i].onclick = function()
                  {
                      var BID= this.cells[2].innerHTML;
                      var count= -this.cells[4].innerHTML;
                       document.getElementById("eRef").value = this.cells[0].innerHTML;
                       document.getElementById("book").value = BID;
                       $("#inf_1").text(gname(1,BID));
                       document.getElementById("value").value = -this.cells[4].innerHTML;
                       $("#inf_2").text(count);
                       $.post("/transaction",{ action:'e', _id: this.cells[0].innerHTML, enabled: "false" } , function( data ) {
                         $( ".result" ).html( data );
                       });
                       modal.style.display = "none";
                  };
              }
  };

  function updateClass() {
              var modal = document.getElementById('myModal');
              var span = document.getElementsByClassName("close")[0];
              modal.style.display = "block";
              span.onclick = function() {modal.style.display = "none";}
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none"; }
              }
      };

function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
            return pair[1];
        }
    }
    return (false);
}

$(function() {
    if (getQueryVariable('LID')) $('#teacher').val(getQueryVariable('LID'));
    if (getQueryVariable('BID')) $('#book').val(getQueryVariable('BID'));
})


function log_msg(msg,id) {
      var url="/log?msg="+msg+"&id="+id;
      $.get(url, function(data, status){
      });
    return true;
    }

function gname(s,ID) {
    var url="/validate?eID="+s+"&ID="+ID;
    var ret;
  $.ajax({ url: url,
           async: false,
           dataType: 'json',
           success: function(data) {
                ret = data.value;
              }
          });
  return ret;
  }



function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

function json2table(json, header) {
  var cols = Object.keys(json[0]);
  var headerRow = '';
  var bodyRows = '';
  cols.map(function(col) {
  if(header) headerRow += '<th>' + capitalizeFirstLetter(col) + '</th>';
});

json.map(function(row) {
  bodyRows += '<tr>';

  cols.map(function(colName) {
    if (colName=='_id') bodyRows += '<td id=s_id style="display:none";>' + row[colName] + '</td>';
    else

    if (colName=='btn') bodyRows +=  '<td><button onclick="myFunction()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon glyphicon-ok"></span></button></td>'
    else bodyRows += '<td>' + row[colName] + '</td>';
  });

  bodyRows += '</tr>';
}
);
return ('<table id="MyTable" class="table-hover"><th><tr>' + headerRow +'</tr></th><tbody>' + bodyRows +'</tbody></table>');
 }

function populateBooks() {
      var url="/tra?LID="+$("#teacher").val()+"&TID=ISSUE&enabled=true";
      var doc=[{}];
      $.get(url, function(data, status){
        if (data.length > 0) {
          for (var i = 0, len = data.length; i < len; i++) {
            doc[i] = { _id: data[i]._id, teacher:gname(0,data[i].LID), BID:data[i].BID, book:gname(1,data[i].BID), value:data[i].value, transaction:gname(4,data[i].TID)};
          }
//          alert(json2table(doc));
          document.getElementById('tableGoesHere').innerHTML = json2table(doc);
          addevent();
          createClass();
          return true;

      }
  })
}

function EnableFields(e) {

  switch (e) {
    case 0:
      $("#teacher").val('INV');
      $("#divTeacher").fadeOut();
      $("#divClass").fadeOut();
      break;
    case 1:
      $("#divTeacher").fadeIn();
      $("#divClass").fadeIn();
      break;
    case 2:
      $("#divClass").fadeOut();
      break;
    case 3:
      break;
    case 4:
      break;
    case 5:
      break;
  }
}


function check_field(eID) {
  var name={};
  var check=false;
  switch (eID) {
    case 0:
      name='teacher';
      if ($("#eRETURN").is(":checked")) {
        populateBooks();
      };
      check=true;
      break;
    case 1:
      name='book';
      check=true;
      break;
    case 2:
      name='value';
      $("#inf_"+eID).text("Anzahl:"+$("#value").val());
      break;
    case 3:
      name='class';
      $("#inf_"+eID).text("Info:"+$("#class").val());
      break;
    case 4:
      name='trantype';
      $("#radio").css("background-color","lightblue");
      if ($("#eRETURN").is(":checked") ){
        $("#radio").css("background-color","lightgreen");
        $("#eType").val("RETURN");
        EnableFields(1);
        populateBooks();
      }
      if ($("#eLOST").is(":checked") ){
        $("#radio").css("background-color","orange");
      }
      if ($("#eNEW").is(":checked") ){
        $("#radio").css("background-color","yellow");
      }
      break;
    case 5:
      name='trantype';
      break;
  }
    if (check) {
      var val = $("#" + name).val();
      var url="/validate?eID="+eID+"&ID="+val;
      $.get(url, function(data, status){
        $("#inf_"+eID).text(data.value);
      });
    }

    var obj = $("#" + name + "_list").find("option[value='" + val + "']");
    if (eID>1 || obj != null && obj.length > 0 ) {
        return true;
      }
    else
        alert("Eingabe ungültig: "+val);
    $("#" + name).focus();
    return false;
}


function validateForm() {
  if (!check_field(0)) return false;
  if (!check_field(1)) return false;
  return true;
}


</script>

<!-- The Modal -->
<div id="myModal" class="modal">

<div class="modal-dialog" style="width:1000px;">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>{{form.title}}</h2>
    </div>
    <div id="tableGoesHere" class="modal-body"></div>
    <div class="modal-footer">
      <h3>...</h3>
    </div>
  </div>
</div>

</div>


  <div style="border-radius: 20px; background-color:lightgrey; padding-top:10px; padding-bottom:20px" class="container">
  <h1>{{title}}</h1>

  <div class="entry"} >
    <form id="ItemEditForm" name="ItemEditForm" class="form-horizontal" action="/transaction/create" onsubmit="return validateForm()" method="post" >
      <input  value="c" type="hidden"   name="mode_s" id="mode_s">
      <input  value="ISSUE" type="hidden"   name="eType" id="eType">
      <input  value="" type="hidden"   name="eRef" id="eRef">
      <div class="form-group">
          <div id=radio style ="background-color: lightblue; border: 1px solid black; padding-left: 10%; padding-top: 10px; padding-bottom: 10px;">
            <label class="radio-inline"><input onclick="check_field(4)"; id=eISSUE type="radio" value="ISSUE" name="optradio" checked>Ausleihen</label>
            <label class="radio-inline"><input onclick="check_field(4)"; id=eRETURN type="radio" value="RETURN" name="optradio">Rückgabe</label>
            <label class="radio-inline"><input onclick="check_field(4)"; id=eLOST type="radio" value="LOST" name="optradio">Verlust</label>
            <label class="radio-inline"><input onclick="check_field(4)"; id=eNEW type="radio" value="NEW" name="optradio">Neu</label>
          </div>
      </div>

      <div id="card" class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/avatar/avatar3.svg" alt="Avatar" class="avatar">

          </div>
          <div class="flip-card-back">
            <div class="flip-info" >
            <h4 ID=inf_0>Name</h3>
            <p class="flip-txt" ID=inf_1>Buch</p>
            <p class="flip-txt" ID=inf_2>Anzahl</p>
            <p class="flip-txt"  ID=inf_3>Info</p>
            </div>
          </div>
        </div>
      </div>


      <div id="divTeacher" class="form-group">
        <label class="control-label col-sm-2" for="teacher">Lehrer:</label>
        <div class="col-sm-2">
          <input autofocus type="text"  class="form-control" name="teacher" id="teacher" list=teacher_list autocomplete="off" onchange="check_field(0)" placeholder="Names des Lehrers" required>
          <datalist id="teacher_list">
             {{#each teacher_list}}
                    <option value="{{this.ID}}" label="{{this.name}}  {{this.surename}}" />
             {{/each}}
          </datalist>
        </div>
        </div>


        <div class="form-group">
        <label class="control-label col-sm-2" for="book">Buch:</label>
        <div class="col-sm-2">
          <input  autofocus type="text" class="form-control" id="book" name="book" list=book_list autocomplete="off" onchange="check_field(1)" placeholder="Bitte Buch Titel eingeben" required>
          <datalist id="book_list">
             {{#each book_list}}
                    <option value="{{this.ID}}">{{this.name}} ({{this.ID}})</option>
             {{/each}}
          </datalist>
        </div>
      </div>

      <div id="divTime" class="form-group" style="display: none;" >
        <label class="control-label col-sm-2" for="time">Time:</label>
        <div class="col-sm-2">
          <input id="time" type="time" class="form-control"  >
          <script>
              document.getElementById("time").value = Date();
          </script>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="type">Anzahl:</label>
          <div class="col-sm-1">
         <input id=value name=value type="text" pattern="[0-9]{1,3}" class="form-control" onkeyup="check_field(2)" placeholder="Anzahl" required>
        </div>
      </div>

      <div id="divClass" class="form-group">
        <label class="control-label col-sm-2" for="class">Info:</label>
        <div class="col-sm-2">
          <input  onkeyup="check_field(3)" autofocus type="text"  class="form-control" name="class" id="class" autocomplete="off" placeholder="Info">
        </div>
        </div>

    <div class="form-group">
      <div class="col-sm-8">
          <button type="submit" class="btn btn-primary" >OK</button>
          <a href="{{cancel}}" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
          <a style="margin-left: 20px;" href="{{cancel}}"  id="ue" name="ue" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Vorgänge</a>
      </div>
    </div>

  </form>

  </div>
</div>
</div>
