{{!< layout01}}

<script>

function hallo(text) {
            alert(text);
    };

</script>


  <div style="border-radius: 20px; background-color:lightgrey; padding-top:10px; padding-bottom:20px" class="container">
  <h1>{{title}}</h1>
  <div class="entry"} >
    <form id="FRMtra" name="FRMtra" class="form-horizontal" action="/transaction/insert" method="post" >

      <div id="divTime" class="form-group" style="display: none;" >
        <label class="control-label col-sm-2" for="time">Time:</label>
        <div class="col-sm-10">
          <input id="time" type="time" class="form-control"  >
          <script>
              document.getElementById("time").value = Date();
          </script>
        </div>
    </div>

    <div class="form-group">

      <label class="control-label col-sm-2" for="teacher">Lehrer:</label>
      <div class="col-sm-6">
        <input  name=teacher type="text"  class="form-control" value="{{teacher}}" id="teacher" readonly>
      </div> </div>

    <div class="form-group">

      <label class="control-label col-sm-2" for="teacher">Klasse:</label>
      <div class="col-sm-6">
          <input  name=class type="text"  class="form-control" value="{{class}}" id="class" readonly>
      </div> </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="teacher">Buch:</label>
      <div class="col-sm-6">
        <input  name=book type="text"  class="form-control" value="{{book}}" id="book"  readonly>
      </div> </div>

    <div class="form-group">
       <label class="control-label col-sm-2" for="teacher">Vorgang:</label>
       <div class="col-sm-6">
          <input  name=eType type="text"  class="form-control" value="{{eType}}" id="eType"  readonly>
      </div> </div>
    <div class="form-group">

        <label class="control-label col-sm-2" for="teacher">Anzahl:</label>
        <div class="col-sm-6">
          <input  name=value type="text"  class="form-control" value="{{value}}" id="value" readonly>
      </div> </div>


    <div class="form-group">
      <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" >Submit</button>
          <a href="{{cancel}}" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
      </div>
    </div>


   </form>

  </div>
</div>
</div>
