{{!< layout}}

{{#if refresh}}
    <meta http-equiv="refresh" content="10"/>
{{else}}
      <meta http-equiv="refresh" content="600"/>
{{/if}}

<style>
  th { background-color: #aaaaaa }
}
</style>

  <div style="border-radius: 20px; background-color:LightBlue; padding-top:10px; padding-bottom:20px" class="container">
    <h1>{{title}}</h1>
  <p>> flighs4{{uid}} <</p>
  <table id="myTable" name="myTable" class="table table-bordered table-hover table-condensed " >
   <tr>
     <th>Registration</th>
     <th>Plane</th>
     <th>Name</th>
     <th>eMail</th>
     <th>ETA</th>
   </tr>
   {{#each obj}}
    <tr>
       <tr onclick="location.href='/pilots/myticket?ref={{this._id}}'"  style="cursor:pointer;">
       <td title={{this._id}}>{{this.registration}}</td>
       <td>{{this.value}}</td>
       <td> {{this.name}}</td>
       <td>{{this.email}}</td>
       <td>{{this.eta}}</td>
    </tr>
   {{/each}}
  </table>
  <div class="form-group">
    <div class="form-group">
      <div class="col-sm-10">
          <a href="{{ok}}" id="ok" name="ok" class="btn btn-success">OK</a>
      </div>
    </div>
  </div>
  </div>
