<script>

  function createQuery(key, value) { 
        $.post('/lib/redis/set',  
        { key: key, value: value }, 
        function(data, status, xhr) {
        }).done(function() { 
          location.reload();
          })
        .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex); });

      };
  function createFilter(key, value) {
    $.post('/lib/redis/set',
      { key: key, value: value },
      function (data, status, xhr) {
      }).done(function () {
        location.reload();
      })
      .fail(function (jqxhr, settings, ex) { alert('failed, ' + ex); });

  };

  function replaceClass(url) { 
      window.location.replace(url);
      };



  function deleteClass(id) { 
        $.post('/lib/doctype/delete', { id: id },
        function(data, status, xhr) {
            }).done(function() { 
              location.reload();
              })
            .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex); });

      };


</script>


{{> frm_list_std}}  

  <table id="tableData" name="tableData" class="table table-bordered table-hover table-condensed " >

    {{> std_tab_hdr}}
    {{#each obj}}
    
      <tr bgcolor="{{this.bg}}" id="myTable" name="myTable"  >
        <td><button id="btn1" class="glyphicon glyphicon-pencil btn btn-xs" onclick='replaceClass("/lib/doctype/enter?id={{this._id}}")'></button></td>
        <td id="ID">{{this.ID}}<input type="hidden" id="_id" name="_id" value="{{this._id}}" /></td>
        <td id="name" name="name">{{this.name}}</td>
        <td id="icon" name="name" ><i class="{{this.icon}}"></i> {{this.icon}}</td>
        <td id="timestamp" name="timestamp">{{this.ti}}</td>
        <td width=10%>
          <button id="btn2" class="glyphicon glyphicon-duplicate btn btn-xs" onclick='replaceClass("/lib/doctype/copy?id={{this._id}}")'></button>
          <button id="btn3" class="glyphicon glyphicon-trash btn btn-xs" onclick='deleteClass("{{this._id}}")'></button>
        </td>
      </tr>
    {{/each}}  

  </table> 

  {{frm_footer_list}}

    </div>