<script type="text/javascript" language="javascript">
  
    $(document).ready(function () {
      {{> frm_ready_enter_std}}  
    });

    function replaceClass(url) {window.location.replace(url); };

</script>


  {{> frm_enter_std}}  

  <form action={{form.link}} method="post">

    {{> frm_mode}}  
    
    {{#each form.fields}}
    <div class="form-group">
      <label for="{{this.lable}}">{{this.lable}}</label>
      <input type={{this.type}} class="form-control" name={{this.field}} id={{this.field}} value="{{this.value}}">
    </div>
    {{/each}}
    <input type="submit" value="Submit">
  </form>
  {{frm_footer_list}}
</div>